<div class="card col-lg-3 d-flex flex-column align-items-center m-4">
  <img class="card-img-top mt-2" src=<%=img%> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      Tech <%=tittle%>
    </h5>
    <p class="card-text">
      Text&ensp; <%=text%>
    </p>
    <a href="/profile/<%=id%>" class="btn btn-primary">More info</a>
  </div>
</div>