<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse d-flex space-between" id="navbarNavDropdown">
    <ul class="navbar-nav w-100">
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          <p>
            <i class="fa fa-home"></i>
            خانه
          </p>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/concat">
          <p>
            <i class="fa fa-phone"></i>
            تماس با ما
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">
          <p>
            <i class='fa fa-exclamation-circle'></i>
            درباره ی ما
          </p>
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 w-100 d-flex justify-content-end">
      <div>
        <button class="btn btn-outline-success my-2 my-sm-0" id='search-btn'>جست و جو</button>
        <input class="form-control mr-sm-2" id='search-inp' type="search" placeholder="جست و جو" aria-label="Search">
      </div>
    </form>
  </div>
</nav>